*~
*.o
*.stackdump
*.exe
Lab*
msvc10/Debug/*
msvc10/Release/*
**/ipch/*
.*.swp
lasm-gui/Debug/*
lasm-gui/Release/*
lasm-gui/ui_qwmain.h
lasm-gui/moc_qwmain.cpp
*.pro.user
*.vcxproj.user
*.sdf
*.suo
*.opensdf
src/p86asm.l
src/symtable-generated.hpp
src/p86asm.yy.cpp
*.tab.c
*.tab.h
*.ilk
*.pdb
log.txt
*.obj
build/*
src/bin/*
Makefile
*.log
bin/*
