*~
*.o
lasm-gui/Debug/*
lasm-gui/Release/*
lasm-gui/GeneratedFiles/*
lasm-gui/Release/*
msvc10/Debug/*
msvc10/Release/*
src/Debug/*
src/Release/*
**/ipch/*
*.sdf
*.vcxproj.user
*.obj
*.swp
*.opensdf
*.sdf
*.suo
*.yy.c
*.tab.c
*.tab.h
