*~
*.o
*.stackdump
*.exe
Lab*
msvc10/Debug/*
msvc10/Release/*
**/ipch/*
.*.swp
lasm-gui/Debug/*
lasm-gui/Release/*
lasm-gui/ui_qwmain.h
*.pro.user
*.vcxproj.user
*.sdf
*.suo
*.opensdf
src/p86asm.l
src/symtable-generated.hpp
src/lex.yy.c
*.tab.c
*.tab.h
*.ilk
*.pdb
log.txt
*.obj

